.password-input-container {
    position: relative;
}

.password-toggle-icon-container {
    position: absolute;
        top: 76%;
        right: 25px;
        transform: translateY(-50%);
        cursor: pointer;
}